[submodule "BANGC_Gemm_Tutorial"]
	path = BANGC_Gemm_Tutorial
	url = https://github.com/CambriconECO/BANGC_Gemm_Tutorial.git
[submodule "Caffe_Yolov3_Inference"]
	path = Caffe_Yolov3_Inference
	url = https://github.com/CambriconECO/Caffe_Yolov3_Inference.git
[submodule "Pytorch_Yolov5_Inference"]
	path = Pytorch_Yolov5_Inference
	url = https://github.com/CambriconECO/Pytorch_Yolov5_Inference.git
[submodule "BANGC_Yolov3_Tutorial"]
	path = BANGC_Yolov3_Tutorial
	url = https://github.com/CambriconECO/BANGC_Yolov3_Tutorial.git
[submodule "Pytorch_RollCall_Recognition"]
	path = Pytorch_RollCall_Recognition
	url = https://github.com/CambriconECO/Pytorch_RollCall_Recognition.git
